@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


body {
  padding-top: 89px;
}

* {
  font-family: 'Inter';
}

/* HEADER */
.nav {
  background-color: white;
  border-bottom: 1px solid #21885b22;
  box-shadow: 2px 3px 5px #09312038;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav a {
  font-weight: bold;
  color: #126a44;
}

.nav a:hover {
  color: #21885B;
}

.nav a:active,
.nav a:focus {
  color: #126a44 !important;
  text-decoration: underline;
}

.nav img {
  width: 20%;
}

/* HOME */

